@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
}

#serchResultBox::-webkit-scrollbar {
  display: none;
}
#remove-scroll::-webkit-scrollbar {
  display: none;
}

.area {
  @apply container mx-auto;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-bet {
  @apply flex items-center justify-between;
}

.flex-center-col {
  @apply flex items-center justify-center flex-col;
}

.product-details {
  max-width: 800px;
  margin: auto;
}

.image-container {
  position: relative;
  max-width: 400px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-red-500 {
  color: red;
}

.text-gray-600 {
  color: #4a4a4a;
}

.text-gray-500 {
  color: #7a7a7a;
}

/*  */

.fluid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  line-height: 1.3;
  font-size: 16px;
}

.fluid__instructions {
  flex: 0 0 auto;
  margin: 0 20px;
}

.fixed__instructions {
  flex: 1;
  margin: 0 20px;
}

a {
  color: black;
}

a:hover {
  color: #666;
}

.code {
  font-family: Courier New, Courier, monospace;
}

@media (min-width: 480px) {
  .fluid {
    flex-direction: row;
  }

  .fluid__image-container {
    flex: 0 0 30%;
    margin: 20px 0 20px 20px;
  }

  .fluid__instructions {
    flex: 0 0 50%;
    padding-top: 30px;
  }

  .fixed__instructions {
    padding-top: 30px;
    margin: 0 10px;
  }

  .portal {
    position: absolute;
    top: 40px;
    left: -30px;
  }
}
